nav#navigation {
  @extend .flex-hor;
  font-size: 2rem;
  background: $serenity;

  a {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30px;
    color: white;
    border-right: 1px solid $rose-quartz;
    cursor: pointer;

    a:last-of-type {
      border-right: none;
    }

    &:hover {
      background: darken($serenity, 10%);
    }
  }

  @media (min-width: $breakpoint) {
    flex-direction: column;

    a {
      flex-grow: unset;
      flex-basis: unset;
      width: auto;
      padding: 5px;
    }
  }
}